@media screen and (min-width: 200px) and (max-width: 991px) {
    .mean-container .mean-nav ul li a.mean-expand{ padding: 10px !important; }

    
    .logo_area {
        width: 100%;
        margin: 20px;
        
    }
    
    .header-container {
        display: inline-block;
        
    }

    .img-area{
        margin: 20px 35px;
    }

    .slider_container {
        width: 100%; 
    }

    .service-container > * {
        flex: 1 1 40%;
    }

    .service img {
        margin: 0;
        padding: 15px;
    }

}

   
@media screen and (min-width: 200px) and (max-width: 480px){

    .text-area{
        padding: 0;
        margin: 0;
    }

    .text-area p{
        margin-bottom: 10px;
    }

    .bx-wrapper .bx-controls-direction a{
        display: none;
    }

    .bx-wrapper .bx-controls-direction a{
        display: none;
    }

    .img-area img{
        
        width: 200px;
        height: 200px;
        
        margin: 100px 0px;
    }

    .slider-area-button{
        margin: 20px;
    }
    

    

    .slider-area-button a{
        padding: 10px;
    }




}


























    